# Exclude.
.*
_vendor*/*
node_modules
yarn.lock
yarn-error.log
lib
build
coverage
__pycache__
*.code-workspace
*.ipynb
*.profraw
*.tsbuildinfo

# Include.
!**/.*ignore
!**/.*rc
!**/.*rc.js
!**/.*config
!**/.github
!**/.storybook
